@{
    ViewBag.Title = "云助手";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script>
    $(document).ready(function () {
        $("#CustomerAdd").click(function () {
            OpenWin("添加客户", "/Home/EventAdd", "col-md-12");
            return false;
        });
    });
    
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">浙江飞天小丫制衣有限公司</h4>
                    <p class="list-group-item-text">
                        <i class="iconfont icon-kehu"></i>牟老板<br />
                        <i class="iconfont icon-telphone"></i>13898765434<br />
                        <i class="iconfont icon-address"></i>浙江省湖州市织里<br />
                    </p>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">浙江飞天小丫制衣有限公司</h4>
                    <p class="list-group-item-text">
                        <i class="iconfont icon-kehu"></i>牟老板<br />
                        <i class="iconfont icon-telphone"></i>13898765434<br />
                        <i class="iconfont icon-address"></i>浙江省湖州市织里<br />
                    </p>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">浙江飞天小丫制衣有限公司</h4>
                    <p class="list-group-item-text">
                        <i class="iconfont icon-kehu"></i>牟老板<br />
                        <i class="iconfont icon-telphone"></i>13898765434<br />
                        <i class="iconfont icon-address"></i>浙江省湖州市织里<br />
                    </p>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">浙江飞天小丫制衣有限公司</h4>
                    <p class="list-group-item-text">
                        <i class="iconfont icon-kehu"></i>牟老板<br />
                        <i class="iconfont icon-telphone"></i>13898765434<br />
                        <i class="iconfont icon-address"></i>浙江省湖州市织里<br />
                    </p>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">浙江飞天小丫制衣有限公司</h4>
                    <p class="list-group-item-text">
                        <i class="iconfont icon-kehu"></i>牟老板<br />
                        <i class="iconfont icon-telphone"></i>13898765434<br />
                        <i class="iconfont icon-address"></i>浙江省湖州市织里<br />
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar-fixed-bottom text-center">
    <a href="/Home/CustomerAdd" id="CustomerAdd"><i class="iconfont icon-add" style="font-size:50px"></i></a>
</nav>

