body {
    font-family:'Microsoft YaHei';
    background-color:#fff;
    font-size:15px;
    line-height:24px;
}

.color9 {
    color: #999;
}

.color6 {
    color: #666;
}

.colorf60 {
    color: #f60;
}

.colorf00 {
    color: #f00 !important;
}

.clrfix {
    clear: both;
}

.container {
    width: 1200px;
}

.navbar-brand {
    padding: 12px 15px;
}

.minH800 {
    min-height: 800px;
}

.fck-left {
    float: left;
}

.fck-rgt {
    float: right;
}

.fck-m-top {
    margin-top: 50px;
}

.fck-mt20 {
    margin-top: 20px;
}

.fck-mb10 {
    margin-bottom: 20px;
}

.fck-mb20 {
    margin-bottom: 20px;
}

.fck-mb30 {
    margin-bottom: 30px;
}
.fck-mt5 {
    margin-top: 5px;
}

.fck-f16 {
    font-size: 16px;
}

.fck-f18 {
    font-size: 18px;
}

.fck-lineh24 {
    line-height: 24px;
}

.fck-lineh28 {
    line-height: 28px;
}

.fck-header {
    font-size: 16px;
    margin-bottom: 0px;
    background-color: #201E31;
    color: #fff;
}

    .fck-header a:link {
        color: #fff;
    }

    .fck-header a:visited {
        color: #fff;
    }

    .fck-header a:hover {
        color: #fff;
    }

    .fck-header .nav a:hover {
        background-color: #f00;
    }

    .fck-header .nav .selected {
        background-color: #f00;
    }

    .fck-header .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: #201E31;
    }

    .fck-header .dropdown-menu {
        background-color: #f5f5f5;
        color: #000;
    }

        .fck-header .dropdown-menu a:link {
            color: #333;
        }

        .fck-header .dropdown-menu a:visited {
            color: #333;
        }

        .fck-header .dropdown-menu a:hover {
            color: #000;
            background-color: #fff;
        }

.fck-banner {
    background-color: #252535;
    padding: 20px 0px;
    color: #fff;
}

.fck-footer {
    padding: 20px 0px;
    margin-top: 50px;
    background-color: #000;
    color:#fff;
}

.fck-article-list {
}

    .fck-article-list table > tbody > tr > td {
        border-top: 0px;
    }

    .fck-article-list .glyphicon {
        color: #5cb85c;
        margin-left: 5px;
        margin-right: 5px;
    }

    .fck-article-list img {
        width: 100%;
    }

    .fck-article-list h3 {
        margin: 0px 0px 10px 0px;
    }

.fck-tags .btn {
    margin-bottom: 4px !important;
}

.fck-blog-detail .glyphicon {
    margin-right: 5px;
}

.fck-blog-detail p .glyphicon {
    color: #6f5499;
    margin-left: 5px;
}

.fck-comment-list td {
    vertical-align: middle !important;
}

.fck-comment-list img {
    width: 50px;
    height: 50px;
}

.fck-gotop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    display: block;
    background: url(/Content/img/go-to-top.png);
    display: none;
}

.fck-body {
    background-color: #f9f9f9;
    padding: 20px;
}

    .fck-body dt {
        font-weight: normal;
    }

.fck-orderlist dt {
    width: 50px;
    line-height: 30px;
}

.fck-orderlist dd {
    margin-left: 60px;
    line-height: 30px;
}

.fck-prdconfig {
}

    .fck-prdconfig dt {
        width: 100px;
        line-height: 60px;
        color: #999;
    }

    .fck-prdconfig dd {
        margin-left: 120px;
        line-height: 60px;
    }

.fck-funlist {
    line-height: 30px;
    margin-top: 15px;
}

.fck-title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0px 0px 5px 0px;
}

    .fck-title span {
        border-left: 5px solid #5cb85c;
        font-size: 18px;
        line-height: 36px;
        padding: 0px 12px;
    }

.fck-title-red {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 0px 0px 5px 0px;
}

    .fck-title-red span {
        border-left: 5px solid #f00;
        font-size: 18px;
        line-height: 36px;
        padding: 0px 12px;
    }

.fck-blogtime {
    text-align: center;
    color: #fff;
    background-color: #6f5499;
    padding: 18px 10px;
    width: 80px;
    font-weight: bold;
    font-size: 16px;
}

.fck-good {
    text-align: center;
    color: #fff;
    background-color: #5cb85c;
    padding: 10px;
    width: 60px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}

.fck-bad {
    text-align: center;
    color: #fff;
    background-color: #999;
    padding: 10px;
    width: 60px;
    font-weight: bold;
    font-size: 16px;
}

.fck-ontact {
    margin-top: 30px;
}

    .fck-ontact ul {
        list-style: none;
        margin: 0px;
        padding-left: 0px;
    }

    .fck-ontact label {
        font-weight: normal;
    }

    .fck-ontact .glyphicon {
        color: #5cb85c;
    }

    .fck-ontact dt {
        font-weight: normal;
        width: 50px;
    }

    .fck-ontact dd {
        margin-left: 60px;
    }

.fck-bg-contact {
    background: url(/Content/images/bg_contact.jpg) no-repeat center center;
    height: 900px;
    width: 100%;
    background-size: cover;
}

label.error {
    padding: 0 8px 0 30px;
    display: block;
    position: absolute;
    height: 26px;
    line-height: 26px;
    background: url(/content/images/error.png) no-repeat 5px center;
    background-color: #fff7dc;
    border: 1px solid #f4e09d;
    font-size: 12px;
    color: #666;
    z-index: 10;
    font-weight: normal;
}

.fck-members {
    margin-top: 30px;
}

.fck-membergt dt {
    font-weight: normal;
    width: 100px;
}

.fck-membergt dd {
    margin-left: 110px;
}

.fck-member-info dt, dd {
    line-height: 24px;
}

.fck-membergt label {
    font-weight: normal;
}

.entry-content {
    font-size: 20px;
    color: #333;
    line-height: 30px;
}

.fck-source-list .sIntro {
    background: url(/content/images/bg_black.png);
    color: #fff;
    padding: 10px;
    height: 165px;
}

.fck-source-list .panel-body {
    padding: 0px;
}

.fck-source-list .glyphicon {
    margin-right: 5px;
    color: #999;
}

.fck-source-list img {
    width: 100%;
}

.fck-source-list .sHoverItem {
    cursor:pointer;
}
.fck-source-list .c {    
    line-height:22px;
    padding:10px 10px 0px 10px;
}
.fck-source-list .t {
    height:22px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.fck-source-list .m {
    height:44px;
    overflow:hidden;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.fck-adv {
    width: 50px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 0px 0px 10px 0px;
    background-color: #000; /* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
    background-color: rgba(0,0,0,0.4); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
    color: #fff;
    display: block;
    position: absolute;
    z-index: 1;
}

.fck-w{
    background-color:#fff;
    padding:10px;
    margin-bottom:30px;
}

.fz36{font-size:36px;}
.fz20{font-size:20px;}
