@model FCK.Studio.Dto.RegisterDto
<ul class="list-group">
    <li class="list-group-item"><span class="iconfont icon-shop"></span>&nbsp;@Model.Register_Name</li>
    <li class="list-group-item"><span class="iconfont icon-weizhi"></span>&nbsp;@Model.Register_Province@Model.Register_City@Model.Register_Zone@Model.Register_Address</li>
    <li class="list-group-item"><span class="iconfont icon-tel"></span>&nbsp;@Model.Register_Telphone / @Model.Register_Mobile</li>
    <li class="list-group-item"><span class="iconfont icon-email"></span>&nbsp;@Model.Register_Email</li>
</ul>