
@{
    ViewBag.Title = "订单管理";
    Layout = "~/Views/Shared/_AppPage.cshtml";
}
<div class="list-group">
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <span class="btn btn-danger">今天13:05</span>
            </div>
            <div class="col-md-10 col-xs-9">
                <span class="text-danger">+186.5</span>
                <p>2017年春季流行新款蓬蓬连衣裙</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <span class="btn btn-danger">今天13:05</span>
            </div>
            <div class="col-md-10 col-xs-9">
                <span class="text-danger">+186.5</span>
                <p>2017年春季流行新款蓬蓬连衣裙</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <span class="btn btn-default">今天13:05</span>
            </div>
            <div class="col-md-10 col-xs-9">
                <span class="text-danger">+186.5</span>
                <p>2017年春季流行新款蓬蓬连衣裙</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <span class="btn btn-default">昨天9:35</span>
            </div>
            <div class="col-md-10 col-xs-9">
                <span class="text-danger">+120</span>
                <p>2017年春季流行新款蓬蓬连衣裙</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <span class="btn btn-default">昨天11:21</span>
            </div>
            <div class="col-md-10 col-xs-9">
                <span class="text-danger">+186.5</span>
                <p>2017年春季流行新款蓬蓬连衣裙</p>
            </div>
        </div>
    </a>
</div>

