
@{
    ViewBag.Title = "商品信息";
    Layout = "~/Views/Shared/_AppPage.cshtml";
}
<div class="list-group">
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <img src="~/Content/img/pic.jpg" class="img-responsive" />
            </div>
            <div class="col-md-9 col-xs-9">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <img src="~/Content/img/pic.jpg" class="img-responsive" />
            </div>
            <div class="col-md-9 col-xs-9">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <img src="~/Content/img/pic.jpg" class="img-responsive" />
            </div>
            <div class="col-md-9 col-xs-9">
                <h4 class="list-group-item-heading">List group item heading</h4>
                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </div>
    </a>
</div>


