@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMemberRgt.cshtml";
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="fck-title"><span>我的订单</span></div>
        <ul class="list-inline">
            <li>
                <form class="form-inline" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="快速搜索" id="keywords">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" onclick="GoSearch()">GO</button>
                        </span>
                    </div>
                </form>
            </li>
        </ul>
        <input type="hidden" id="currentpage" value="1" />
        <input type="hidden" id="UserId" value="@Model.Member_ID" />
        <input type="hidden" id="actionurl" value="/Members/GetOrders" />
        <hr />
        <table class="table table-hover" id="DataList">
        </table>
        <nav class="text-right">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
</div>
