
@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
        <div id="container">
            <div><img src="/images/01.jpg"><p class="am-text-center">Agfa</p></div>
            <div><img src="/images/02.jpg"><p class="am-text-center">Auto</p></div>
            <div><img src="/images/03.jpg"><p class="am-text-center">Bald eagle</p></div>
            <div><img src="/images/04.jpg"><p class="am-text-center">Black swan</p></div>
            <div><img src="/images/05.jpg"><p class="am-text-center">Book shelf</p></div>
            <div><img src="/images/06.jpg"><p class="am-text-center">Camera</p></div>
            <div><img src="/images/07.jpg"><p class="am-text-center">Camera</p></div>
            <div><img src="/images/25.jpg"><p class="am-text-center">Vintage camera</p></div>
            <div><img src="/images/09.jpg"><p class="am-text-center">Coffee</p></div>
            <div><img src="/images/10.jpg"><p class="am-text-center">Cookies</p></div>
            <div><img src="/images/11.jpg"><p class="am-text-center">Cubes</p></div>
            <div><img src="/images/12.jpg"><p class="am-text-center">DJ</p></div>
            <div><img src="/images/13.jpg"><p class="am-text-center">Doors</p></div>
            <div><img src="/images/14.jpg"><p class="am-text-center">Matchbox</p></div>
            <div><img src="/images/15.jpg"><p class="am-text-center">Freiburg</p></div>
            <div><img src="/images/16.jpg"><p class="am-text-center">Henna</p></div>
            <div><img src="/images/17.jpg"><p class="am-text-center">Home office</p></div>
            <div><img src="/images/18.jpg"><p class="am-text-center">iPad</p></div>
            <div><img src="/images/19.jpg"><p class="am-text-center">Keyboard</p></div>
            <div><img src="/images/20.jpg"><p class="am-text-center">Lynx</p></div>
            <div><img src="/images/21.jpg"><p class="am-text-center">Mac</p></div>
            <div><img src="/images/22.jpg"><p class="am-text-center">Notebook</p></div>
            <div><img src="/images/23.jpg"><p class="am-text-center">Thoughts</p></div>
            <div><img src="/images/24.jpg"><p class="am-text-center">Office</p></div>
            <div><img src="/images/25.jpg"><p class="am-text-center">Children</p></div>
            <div><img src="/images/26.jpg"><p class="am-text-center">Portrait</p></div>
            <div><img src="/images/27.jpg"><p class="am-text-center">Startup</p></div>
            <div><img src="/images/28.jpg"><p class="am-text-center">Sun</p></div>
            <div><img src="/images/29.jpg"><p class="am-text-center">The Eiffel Tower</p></div>
            <div><img src="/images/30.jpg"><p class="am-text-center">Water drops</p></div>

        </div>
    </figure>
</div>
<!-- content end -->
@section scripts{
    <script src="/assets/js/pinto.min.js"></script>
    <script src="/assets/js/img.js"></script>
}
