@{
    ViewBag.Title = "精彩案例——时优谷无锡网页设计第一品牌|自适应网页设计|自适应网站开发|HTML5网页制作|Bootstrap网站|网站优化";
    ViewBag.description = "时优谷（GOOSTUDIO）是一家专注于HTML5网站建设，微信开发，APP定制开发，以及SEO优化和网站推广的创新设计工作室。工作室成立于 2014年初，在网页设计和互联网应用开发领域有着独特理解。";
    ViewBag.keywords = "自适应网页设计|自适应网站开发|HTML5网页制作|Bootstrap网站|网站优化|无锡微信开发|无锡APP开发";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@{
    int currentPage = FCK.Common.Utility.cInt(Request.QueryString["page"]);
    currentPage = currentPage == 0 ? 1 : currentPage;
 }
<aside class="fh5co-page-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="fh5co-page-heading-lead">Our works
						<span class="fh5co-border"></span>
                </h1>

            </div>
        </div>
    </div>
</aside>
<div class="container" id="fh5co-products">
    <div class="row text-left">
        <div class="col-md-12">
            <h3 class="fh5co-section-sub-lead">当人们的空间被各种物质挤压的时候，也就失去了本质，我们要去掉一切虚假的、表面的、无用的东西，而剩下真实的、本质的、必不可少的东西，因而得到更多的空间、更多的舒适、更多的效率、更多的美…</h3>
        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
    </div>
    @Html.Action("_PartialArticles", "Home", new { page = currentPage, pageSize = 8, catename = "案例", orderindex = "timedesc", isrec = 0, ispage = 1 })
</div>
