@{
    ViewBag.Title = "联系我们";
    ViewBag.Description = "Oplug致力于开创一个免费、共享、开放的互联网资源共享平台，为广大互联网开发者提供一个最好的技术交流社区";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<script src="~/Content/js/fck-contact.js"></script>
<div class="fck-bg-contact">
    <div class="container">
        <div class="fck-ontact">
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="fck-title"><span>联系我们</span></div>
                            <p class="color9">如果你想与我们广告合作或只是打个招呼，填写下面的表格，我们会尽快回复你的。如果你想知道更多关于的情况，请阅读使用许可条款。</p>
                            <hr />
                            <form class="form-horizontal" id="FormEmail" name="FormEmail">
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label"><span class="colorf00">*</span> 电子邮箱</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" name="inputEmail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTel" class="col-sm-2 control-label">联系电话</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputTel" name="inputTel">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label"><span class="colorf00">*</span> 姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" name="inputName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label"><span class="colorf00">*</span> 内容</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" id="inputContent" name="inputContent"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-3">
                                        <input type="text" id="vcode" name="vcode" class="form-control" placeholder="请输入图形验证码" required />
                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <img src="/Base/VeriCode" onclick="javascript:this.src='/Base/VeriCode?tm='+Math.random()" id="ChgCodeImg" />
                                        <span class="colorf00">*</span> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="hidden" value="380198286@qq.com" id="inputMailto" name="inputMailto">
                                        <input type="hidden" value="MY80网站在线留言" id="inputTitle" name="inputTitle">
                                        <button type="submit" class="btn btn-success">确认</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="fck-title"><span>关注我</span></div>
                            <dl class="dl-horizontal">
                                <dt><span class="glyphicon glyphicon-earphone"></span></dt>
                                <dd>15961858835</dd>
                                <dt><span class="glyphicon glyphicon-envelope"></span></dt>
                                <dd>garychk@163.com</dd>
                                <dt><span class="glyphicon glyphicon-comment"></span></dt>
                                <dd>380198286</dd>
                            </dl>
                            <hr />
                            <img src="/Content/images/ewm.jpg" width="200">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
