<!-- footer -->
<footer class="fck-footer">
    <a href="javascript:void(0)" class="fck-gotop" onclick="goTop()" title="返回顶部"></a>
    <div class="container">
        <div class="row">
            <p class="tm-copyright-text">
                Copyright &copy; 2016 Goostudio
                
                |  <a href="http://www.goostudio.com/" target="_blank" title="Goostudio">Goostudio</a> - Support By <a href="http://www.goostudio.com/" title="goostudio" target="_blank">FCK.Studio</a> 苏ICP备12039429号-1
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_5355425'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D5355425%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </p>
        </div>
    </div>
</footer>
