@{
    ViewBag.Title = "Apitest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">Apitest</div>
        <div class="panel-body">
            <form class="form-horizontal" action="http://localhost:23472/api/Article/AddHits" method="get">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">合作者编号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="partner" name="partner" placeholder="partner">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">参数1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ID" name="ID" placeholder="ID">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
