@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner-bottom">
    <!-- container -->
    <div class="container">
        <h2>我们正在努力开创本项服务，敬请期待！</h2>
    </div>
</div>
